<a href="https://colab.research.google.com/github/SonsuGit/BackendOrmi/blob/main/%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D_%EC%88%98%EC%97%85%20by%20me.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 정규표현식
* Anchors (처음과 끝)
    ```
    /^hello/gm : 처음에 hello
    /hello$/gm : 끝에 hello
    ```

* dot (모든 문자)
    ```
    /.ello/gm : hello, Hello, vello
    /./gm : 모든 문자열(*과 같은 역할)
    /....../gm : 모든 6개의 문자열
    ```

* 대괄호 (택1)
    ```
    /h[eay]llo/gm : 대괄호 안에 문자는 문자 1개에 해당!
    /h[ea]l../gm : 총 5개의 문자
    ```

* 대쉬 (범위)
    ```
    /h[a-f]llo/gm
    /[a-zA-Z0-9]/gm : 모든 알파뱃과 숫자를 찾음
    /[^a-zA-Z0-9]/gm : 나머지 문자열을 찾음
    ```

* 캐럿(caret) (대괄호 안에 들어가면 부정)
    * 아래 경우 a와 e가 모두 부정
        ```
        /h[^ae]llo/gm : 대괄호 안에 있다면 not에 의미
        ```

* 소괄호 (서브패턴, 그룹)
    * 패턴으로 외우시는 것보다 다양한 예제로 습득하시기를 권해드립니다.
    ```
    /(on|ues|rida)/gm : 그룹 1로 3개 중 매칭되는 패턴 찾음
    ```

* 수량자
    ```
    _* : 앞에 있는 문자가 0개 ~ N개
    _+ : 앞에 있는 문자가 1개 ~ N개
    _? : 앞에 있는 문자가 0개 ~ 1개

    {3} : 3개
    {3,} : 3개 이상
    {1,3} : 1개 ~ 3개

    _* : 앞에 있는 문자가 0개 ~ N개 ({0,})
    _+ : 앞에 있는 문자가 1개 ~ N개({1,})
    _? : 앞에 있는 문자가 0개 ~ 1개 ({0,1})

    /[0-9]{3}[-.* ][0-9]{4}[-.* ][0-9]{4}/gm
    /[0-9a-zA-Z]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
    /[0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+/gm
    ```

* 캐릭터 클래스
    ```
    /\w/gm : 워드
    /\w{5} /gm : 5개의 글자와 스페이스 하나
    /\W/gm : not 워드
    /\d/gm : 숫자
    /\D/gm : not 숫자
    /\s/gm : 스페이스
    /\S/gm : not 스페이스
    ```

* 이스케이프문자
    ```
    /\[.*]/gm : 대괄호([]) 안에 감싸여진 문자열
    /\(.*\)/gm : 소괄호 안에 감싸여진 문자열
    /\\.*\//gm : 이미 사용되고 있는 특수문자로 감싸여진 문자열
    /-.*-/gm : 이스케이프 문자를 사용할 필요가 없는 경우
    /\^\^/gm : 이스케이프 문자가 필요한 경우
    /:\)/gm : 이스케이프 문자가 필요한 경우
    ```


* (연습) 전화번호
    ```
    010[-,. ]?[0-9]{4}[-,. ]?[0-9]{4}
    010([-,. ]?[0-9]{4}){2}
    ```

* 공식문서 : https://docs.python.org/ko/3/library/re.html

* 정규표현식에서 자주 사용되는 패턴
    * 아래와 같이 2가지 방법으로 사용할 수 있습니다.
    ```
    # 1
    p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
    p.findall('1S2D*3T')

    # 2
    re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')
    ```
    * compile() : 패턴 컴파일
    * match() : 문자열의 앞 부분이 매치되는가를 체크, 추출
    * sub() : 매치된 부분을 치환 (str에 replace와 같은 역활)
    * search() : 선두에 한해서 매치하는지를 체크, 추출
    * findall() : 매치된 부분 모두 리스트 반환
    * finditer() : 정규식과 매치되는 모든 문자열(substring)을 반복 가능한 객체로 리턴한다.
    * spilt() : 정규표현 패턴으로 문자열을 분할 (str에 split과 같은 역활)

* 반환 객체의 값
    * group() : 매치된 문자열
    * groups() : 매치된 문자열 전체
    * start() : 매치된 문자열의 시작 위치
    * end() : 매치된 문자열의 끝 위치
    * span() : 매치된 문자열의 시작과 끝

* 컴파일 옵션(플래그)
    * 사용 예
    ```
    re.compile('[a-z]+', re.I)
    ```
    * re.DOTALL, re.S : 줄바꿈 문자까지 모두 매칭
    * re.IGNORECASE, re.I : 대소문자 구분하지 않음
    * re.MULTILINE, re.M : ^, & 등의 매칭 패턴을 라인마다 적용
    * re.VERBOSE, re.X : 아래와 같이 #으로 주석문을 사용할 수 있음
    ```
    a = re.compile(r"""\d +  # the integral part
                   \.    # the decimal point
                   \d *  # some fractional digits""", re.X)
    b = re.compile(r"\d+\.\d*")
    ```

* tip
    * 같은 패턴입니다.
    ```
    re.compile('\\\\section')
    re.compile(r'\\section')
    ```
    * {}를 표현하고 싶을 때에는 중괄호 2개, 또는 때에 따라 3개가 필요합니다.
    ```
    re.compile(f'{{section}}')
    ```

In [ ]:
import re

p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

[('1', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]

## compile

In [ ]:
import re

p = re.compile('h[eao]llo')

In [ ]:
text = '''hello
hallo
hollo
'''
text

'hello\nhallo\nhollo\n'

## match

In [ ]:
# 실무에서는 특정한 패턴이 존재하는지만 사용하는 것으로 많이 사용합니다.
# 찾아서 무언가를 하는 것은 findall이나 sub 이런 메서드를 많이 사용합니다.

In [ ]:
import re

p = re.compile('h[eao]llo')
p.match('hello hallo hollo hillo hallo')

In [ ]:
result = p.match('hello hallo hollo hillo hallo')
result.group(0)
# result.group(1)

'hello'

In [ ]:
import re

p = re.compile('(\w+) (\w+) (\w+)')
result = p.match('hello hallo hollo hillo hallo')
result.group(0) # 전체 그룹
result.group(1) # 그룹1
result.group(2) # 그룹2
result.group(3) # 그룹3

'hollo'

In [ ]:
import re

p = re.compile('(\w+) (\w+) (\w+)')
result = p.match('hello hallo hollo hillo hallo')
result.group(1, 2) # 그룹1, 그룹2

('hello', 'hallo')

In [ ]:
import re

p = re.compile('h[eao]llo')
p.match('hillo hallo hollo hillo hallo') 
# None값이 출력된 것입니다.
# 문자열 압쪽이 매칭이 안된 것입니다.

In [ ]:
# 아래 문법은 match 말고도 다른 문법에서도 사용이 가능합니다.
m = re.match(r"(?P<first_name>\w+) (?P<last_name>\w+)", "Malcolm Reynolds")
m.group('first_name'), m.group('last_name')

('Malcolm', 'Reynolds')

In [ ]:
m[0]

'Malcolm Reynolds'

In [ ]:
m[1], m[2]

('Malcolm', 'Reynolds')

In [ ]:
m = re.match(r"010-(?P<앞자리>[0-9]{4})-(?P<뒷자리>[0-9]{4})", "010-1000-2000")
m.group('앞자리'), m.group('뒷자리')

('1000', '2000')

In [ ]:
# 실제로 실무에서 match 사용되는 패턴 (공식문서)
valid = re.compile(r"^[a2-9tjqk]{5}$")

def displaymatch(match):
    if match is None:
        return None
    return '<Match: %r, groups=%r>' % (match.group(), match.groups())

displaymatch(valid.match("akt5q"))

In [ ]:
# 실제로 실무에서 match 사용되는 패턴 (공식문서)
valid = re.compile(r"^[a2-9tjqk]{5}$")

def displaymatch(match):
    if match is None:
        return None
    return '해당 패턴에 매칭됩니다!'

displaymatch(valid.match("akt5q"))

'해당 패턴에 매칭됩니다!'

## sub

* str에 replace 메소드와 같은 기능
* 정규표현식을 사용할 수 있는 코드

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120849

In [ ]:
def solution(my_string):
    return my_string.replace('a', '').replace('e', '').replace('i', '').replace('o', '').replace('u', '')

In [ ]:
def solution(my_string):
    string = 'aeiou'
    for i in string:
        my_string = my_string.replace(i, '')
    return my_string

In [ ]:
import re

def solution(my_string):
    return re.sub(r"[aeiou]", "", my_string)

In [ ]:
import re

solution = lambda my_string: re.sub(r"[aeiou]", "", my_string)

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120826

In [ ]:
def solution(my_string, letter):
    for i in letter:
        my_string = my_string.replace(i, '')
    return my_string

In [ ]:
import re

def solution(my_string, letter):
    return re.sub(letter, "", my_string)

In [ ]:
import re

solution = lambda my_string: re.sub(letter, "", my_string)

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120851

In [ ]:
def solution(my_string):
  s = 0
  for i in my_string:
    if i.isdigit():
      s += int(i)

  return s

In [ ]:
def solution(my_string):
    return sum([int(i) for i in my_string if i.isdigit()])

In [ ]:
def solution(my_string):
    return sum(map(int, filter(lambda x:x.isdigit(), my_string)))

In [ ]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('[a-zA-Z]', '', my_string)

In [1]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('[^0-9]', '', my_string)

'1234'

In [2]:
import re

def solution(my_string):
    return sum([int(i) for i in re.sub('[^0-9]', '', my_string)])

In [ ]:
import re

def solution(my_string):
    return sum(int(i) for i in re.sub('[^1-9]', '', my_string))

### sub의 실무 응용(중고급 강좌)

In [4]:
import re
# \1, \2, \3으로 그룹핑됨
re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1__\2__\3', '010-5000-3000')

'010__5000__3000'

In [5]:
import re

re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})',
       r'\1!!\2!!\3',
       '010-5000-3000')

'010!!5000!!3000'

In [6]:
import re

re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})',
       r'\1---\2---\3',
       '010-5000-3000')

'010---5000---3000'

In [12]:
# 문제
# 입력 : '2023/05/16'
# 출력1 : '05/16/2023' 미국식
# 출력2 : '16/05/23' 영국식


import re

print(re.sub(r'([0-9]{4})/([0-9]{2})/([0-9]{2})',
       r'\2/\3/\1',
       '2023/05/16'), "미국식")

print(re.sub(r'([0-9]{4})/([0-9]{2})/([0-9]{2})',
       r'\3/\2/\1',
       '2023/05/16'), "영국식")

05/16/2023 미국식
16/05/2023 영국식

In [ ]:
# 변수로 사용하는 것 test 1

import re

print(re.sub(r'(?P<year>[0-9]{4})/(?P<month>[0-9]{2})/(?P<day>[0-9]{2})',
       r'\3/\2/\1',
       '2023/05/16'), "영국식")

In [ ]:
# 변수로 사용하는 것 test2
# 작동하지 않습니다.
import re

re.sub(r'(?P<year>[0-9]{4})/(?P<month>[0-9]{2})/(?P<day>[0-9]{2})',
       r'\<year>/\<month>/\<day>',
       '2023/05/16')

In [13]:
# 변수로 사용하는 것 test3
import re

re.sub(r'(?P<year>[0-9]{4})/(?P<month>[0-9]{2})/(?P<day>[0-9]{2})',
       r'\g<year>/\g<month>/\g<day>',
       '2023/05/16')

'2023/05/16'

In [17]:
# md -> html 파일로
# '#hello world' => '<h1>hello world</h1>'
import re

re.sub(r'# (.*)',
       r'<h1>\1</h1>',
       '# hello world')

'<h1>hello world</h1>'

In [21]:
# md -> html 파일로
# '# hello world' => '<h1>hello world</h1>'
import re

text='''# hello1
## hello1.1
hello world
# hello2
## hello2.1
hello world
# hello3
## hello3.1
hello world
'''

text = re.sub(r'# (.*)', r'<h1>\1</h1>', text)
text

In [22]:
# md -> html 파일로
# '#hello world' => '<h1>hello world</h1>'
import re
text='''# hello1
hello world
# hello2
hello world
# hello3
hello world
'''

re.sub(r'^# (.*)', r'<h1>\1</h1>', text)

'<h1>hello1</h1>\nhello world\n# hello2\nhello world\n# hello3\nhello world\n'

In [24]:
# md -> html 파일로
# '# hello world' => '<h1>hello world</h1>'
import re

text='''# hello1
## hello1.1
hello world
# hello2
## hello2.1
hello world
# hello3
## hello3.1
hello world
'''

text = re.sub(r'## (.*)', r'<h2>\1</h2>', text)
text = re.sub(r'# (.*)', r'<h1>\1</h1>', text)
print(text)

<h1>hello1</h1>
<h2>hello1.1</h2>
hello world
<h1>hello2</h1>
<h2>hello2.1</h2>
hello world
<h1>hello3</h1>
<h2>hello3.1</h2>
hello world

In [ ]:
import re

text='''# hello1
## hello1.1
hello world
# hello2
## hello2.1
hello world
# hello3
## hello3.1
hello world
'''

# p = re.compile('^# (.*)', re.MULTILINE)
# text = p.sub(r'<h1>\1</h1>', text)
text = re.sub(r'^# (.*)', r'<h1>\1</h1>', text, flags=re.M)
text = re.sub(r'^## (.*)', r'<h2>\1</h2>', text, flags=re.M)
print(text)

In [ ]:
import re

def mardown_to_html(markdown):
    html = re.sub(r'### (.*)', r'<h2>\1</h2>', markdown)
    html = re.sub(r'## (.*)', r'<h2>\1</h2>', html)
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', html)
    return html

In [ ]:
## 구글 바드한테 물어봐서 강사님이 작성함 나중에 보충할 것
# https://colab.research.google.com/drive/1MpAPDAHo1CcWa1gB85BkH1CEch3DHXmy?usp=sharing#scrollTo=AVU9Am7b7v0M

## search

In [25]:
import re
p = re.compile('[yth]')
m = p.search('python')
print(m)

<re.Match object; span=(1, 2), match='y'>

## findall

In [28]:
p = re.compile('[a-z]+')
result = p.findall('Life is Short, You Need Python!')
print(result)

['ife', 'is', 'hort', 'ou', 'eed', 'ython']

In [30]:
p = re.compile('[a-z]+')
result = p.findall('LifeisShort, YouNeed P y t h o n !')
print(result)

['ifeis', 'hort', 'ou', 'eed', 'y', 't', 'h', 'o', 'n']

In [29]:
p = re.compile('[0-9]+')
result = p.findall('010-5000-1000') # 마치 스플릿처럼 작동
print(result)

['010', '5000', '1000']

In [31]:
'010-5000-1000'.split('-')

['010', '5000', '1000']

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/17682

In [32]:
#1
p = re.compile(r'([0-9]|10)([SDT])([W*W]?)')
p.findall('1S2D*3T')

[('1', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120891

In [34]:
p = re.compile('[369]')
result = p.findall('29423') # 마치 스플릿처럼 작동
print(len(result))

2

In [ ]:
import re

def solution(order):
    p = re.compile('[369]')
    return len(p.findall(str(order)))

In [ ]:
def solution(order):
    count = 0
    for i in str(order):
        if i == '3' or i == '6' or i == '9':
            count += 1

    return count

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120913

In [35]:
# slicing은 out of range 안나옴
def solution(my_str, n):
    result = []
    for i in range(0, len(my_str), n):
        result.append(my_str[i:i+n])
    return result

abc
1Ad
dfg
gg4
556
b

In [36]:
l = [10, 20, 30]
l[10:15] # 슬라이싱의 경우 out of range 안나옴

[]

In [40]:
import re
# findall은 4개 이하면 아예 안잡음
s = "abc1Addfggg4556bbte"
re.findall('.{4}',s)

['abc1', 'Addf', 'ggg4', '556b']

In [39]:
import re

s = "abc1Addfggg4556bbte"
re.findall('.{1,4}',s)

['abc1', 'Addf', 'ggg4', '556b', 'bte']

In [41]:
# why? 왜 실패가 나왔는가?

import re

def solution(my_str, n):
    return re.findall(f'.{1,n}', my_str)

In [ ]:
# step1
# python에서 {를 넣기 위해선 {{를 사용하여야 합니다

import re

def solution(my_str, n):
    return re.findall(f'.{{1,{n}}}', my_str)

In [ ]:
# f-string 용법에서 중괄호를 문자열 그대로 표현하기 위해 
# 이스케이프 문자를 사용하지 않습니다
# 중괄호 두개를 사용합니다.

import re

def solution(my_str, n):
    return re.findall(f'.{{1,{n}}}', my_str)

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120894

In [42]:
import re

re.findall('(one|two|three|four|five|six|seven|eight|nine|zero)',
           "onetwothreefourfivesixseveneightnine")

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [43]:
d = {
    'zero':0,
    'one':1,
    'two':2,
    'three':3,
    'four':4,
    'five':5,
    'six':6,
    'seven':7,
    'eight':8,
    'nine':9,
}
l = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

s =''
for i in l:
    s += str(d[i])
s

'123456789'

In [ ]:
d = {
    'zero': 0,
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9
}
l = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
''.join([str(d[i]) for i in l])

In [46]:
d = {
    'zero': 0,
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9
}
l = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
# list(map(lambda x:str(d[x]), l))
''.join(map(lambda x:str(d[x]), l)) # join 뒤에도 이터러블 객체가 옵니다.

'123456789'

In [ ]:
import re

def solution(numbers):
    s = ''
    d = {
        'one':   '1',
        'two':   '2',
        'three': '3',
        'four':  '4',
        'five':  '5',
        'six':   '6',
        'seven': '7',
        'eight': '8',
        'nine':  '9',
        'zero':  '0',
    }
    for i in re.findall(r'(zero|one|two|three|four|five|six|seven|eight|nine)', numbers):
        s += d[i]
    return int(s)

## finditer

* 정규식과 매치되는 모든 문자열(substring)을 반복 가능한 객체로 리턴한다.

In [55]:
import re
p = re.compile('.{4}')
result = p.finditer('alksdj;fkalksdj;fkalksdj;fkalksdj;fk')
for i in result:
    print(i)
    print(i.group())
    print(i.span())

<re.Match object; span=(0, 4), match='alks'>
alks
(0, 4)
<re.Match object; span=(4, 8), match='dj;f'>
dj;f
(4, 8)
<re.Match object; span=(8, 12), match='kalk'>
kalk
(8, 12)
<re.Match object; span=(12, 16), match='sdj;'>
sdj;
(12, 16)
<re.Match object; span=(16, 20), match='fkal'>
fkal
(16, 20)
<re.Match object; span=(20, 24), match='ksdj'>
ksdj
(20, 24)
<re.Match object; span=(24, 28), match=';fka'>
;fka
(24, 28)
<re.Match object; span=(28, 32), match='lksd'>
lksd
(28, 32)
<re.Match object; span=(32, 36), match='j;fk'>
j;fk
(32, 36)

## split
* 정규표현 패턴으로 문자열을 분할(str의 split과 같은 역할)

In [56]:
import re

s = '010 5000 1000'
re.split(r' ', s)

['010', '5000', '1000']

In [57]:
import re

s = '010 5000 1000'
re.split(r'[ !] ', s)

['010 5000 1000']

In [64]:
import re

text = '''
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>hello title</title>
</head>
<body>
    <h1>hello h1</h1>
    <p>hello p</p>
</body>
</html>
'''

result = re.split(r'<[^<>]*>', text) # beautifulsoup 원리 : 정규표현식으로 문자열 parsing
list(filter(lambda x:x !='\n', map(lambda x:x.strip(), result)))

['',
 '',
 '',
 '',
 'hello title',
 '',
 '',
 '',
 'hello h1',
 '',
 'hello p',
 '',
 '',
 '']

## 연습문제

In [ ]:
# 아직 정규표현식 진도가 다 끝난 것이 아니라 연습문제를 드리지 않으려 했는데 연습 차원에서 하나 드립니다. 🙂 가벼운겁니다.

# 다음 숫자를 모두 포함하는 정규표현식을 만들어주세요. 참고로 지역번호 들어가야 합니다. 🙂

# 010-9091-5491
# 010-5043-2901
# 010-5050-40409
# 010 2913 3132
# 01019133829
# 064-721-3213
# 010.1913.3829

# 정규표현식
# 0[1-6][0-7][-. ]?[0-9]{3}[0-9]?[-. ]?[0-9]{4}[0-9]?